.app {
  background-color: #252525; /* Dark gray background color */
}

.adminPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #f3f3f3; /* Background color of the admin panel */

  height: 100vh; /* Set the admin panel to cover the entire viewport height */
  width: 100%; /* Set the admin panel to cover the entire viewport width */
  margin: 0; /* Remove any default margin */

  .formContainer {
    background-color: #1a1e26;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto; /* Center align the forms */

    h2 {
      color: #ffffff;
      margin-bottom: 20px;
      font-size: 18px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .formGroup {
        display: flex;
        flex-direction: column;
        gap: 5px;

        label {
          color: #3d4073;
          font-size: 14px;
        }

        input {
          padding: 8px;
          border: none;
          background-color: #324359;
          color: #ffffff;
          border-radius: 5px;

          &:focus {
            outline: none;
            box-shadow: 0 0 5px #5abfa3;
          }
        }
      }

      button {
        padding: 10px;
        background-color: #5abfa3;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #3d4f73;
        }
      }
    }
  }
}
